/* impostazioni generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* impostazioni parteprincipale */
main {
  margin: 2% auto;
  width: 50%;
}
/* impostazioni riga */
.riga:last-child {
  position: relative;
  top:20px;
}
.riga > div {
  display: inline-block;
}
/* impostazioni rettangoli interni alla riga */
.rettangolo {
  background-color: rgb(228, 237, 237);
  height: 300px;
  width: 250px;
  position: relative;
}
/* impostazione blocco sconto */
.sconto {
  position: absolute;
  right: 0;
  background-color: green;
  height: 15px;
  width: 30px;
  font-size: 12px;
  text-align: center;
}
.sconto.sconto1{
  background-color: red;
}
/* impostazione blocco immagini */
.immaginivendita {
  height: 220px;
  width: 220px;
  position: relative;
  top: 40px;
  left: 15px;
}
/* impostazione blocco cuore */
.cuore{
  height: 12px;
  width: 12px;
  position: relative;
  left: 119px;
  top: 50px;
  display: none;
}
.rettangolo:hover .cuore{
  display: block;
}
